* {
    font-family: Helvetica, "Times New Roman", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.clr-text-light {
    color: #E8DAB2;
}

.clr-text-lighter {
    color: #EAEAEA;
}

.clr-text-dark {
    color: #4F6D7A;
}

.clr-text-accent {
    color: #DD6E42;
}

.clr-bg-dark {
    background-color: #4F6D7A;
}

.clr-bg-light {
    background-color: #EAEAEA;
}

.clr-bg-accent-bright {
    background-color: #DD6E42;
}

.clr-bg-accent-dim {
    background-color: #C0D6DF;
}

.round {
    border: 1px solid #EAEAEA;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
}

.bottom-container {
    display: flex;
    align-items: center;
    padding: 20px;
}

.top-img,
.squared {
    object-fit: cover;
    border-radius: 8px;
}

.top-img {
    width: 500px;
    height: 310px;
}

.squared {
    width: 150px;
    height: 150px;
}

.website-padding {
    padding-left: 200px;
    padding-right: 200px;
}

.header,
.footer {
    display: flex;
    align-items: center;
    font-size: 18px;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content-top,
.content-stacks,
.content-quote,
.content-button {
    display: flex;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-top {
    gap: 50px;
}

.content-top-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-top-text-title {
    font-size: 48px;
    font-weight: 800;
}

.content-top-text-main {
    font-size: 18px;
}

.content-stacks {
    flex-direction: column;
    align-items: center;
}

.content-stacks-text {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 50px;
    text-align: center;
}

.content-stacks-area {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.content-stacks-area-cube {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    gap: 10px;
    font-size: 12px;
    text-align: center;
}

.content-quote {
    flex-direction: column;
    gap: 20px;
}

.content-quote-text,
.content-quote-author {
    padding-left: 100px;
    padding-right: 100px;
}

.content-quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.content-quote-author {
    align-self: flex-end;
    font-weight: 900;
    font-size: 20px;
}

.content-button {
    display: flex;
    flex-direction: column;
}

.content-button-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.content-button-title {
    font-size: 24px;
    font-weight: 800;
}

.content-button-button {
    margin: 20px;
}