* {
    font-family: Helvetica, "Times New Roman", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.blue-round {
    color: white;
    background-color: #3882f6;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 8px;
}

.top-img,
.squared {
    object-fit: cover;
    border-radius: 8px;
}

.top-img {
    width: 500px;
    height: 310px;
}

.squared {
    width: 150px;
    height: 150px;
}

.website-padding {
    padding-left: 200px;
    padding-right: 200px;
}

.header,
.footer {
    display: flex;
    align-items: center;
    background: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    justify-content: space-between;
}

.footer {
    justify-content: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.content-top,
.content-stacks,
.content-quote,
.content-button {
    display: flex;
    flex: 1;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content-top {
    background: #1f2937;
    gap: 50px;
}

.content-top-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-top-text-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.content-top-text-main {
    font-size: 18px;
    color: #e5e7eb;
}

.content-stacks {
    flex-direction: column;
    align-items: center;
    background: white;
}

.content-stacks-text {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding-bottom: 50px;
    text-align: center;
}

.content-stacks-area {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.content-stacks-area-cube {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    gap: 10px;
    font-size: 12px;
    text-align: center;
    color: #1f2937;
}

.content-quote {
    background: #e5e7eb;
    flex-direction: column;
    gap: 20px;
}

.content-quote-text,
.content-quote-author {
    padding-left: 100px;
    padding-right: 100px;
}

.content-quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.content-quote-author {
    align-self: flex-end;
    font-weight: 900;
    font-size: 20px;
}

.content-button {
    background: white;
}